%h1 sign in

- form_for @user_session ,:url => subdomain_user_session_url(current_account) do |session|

  = session.label :email
  = session.text_field :email

  = session.label :password
  = session.password_field :password
  
  = session.submit 'sign in'
