%p Please enter the new password below and then press "Update".
- form_tag password_reset_path, :method => :put do
  %p
    = label :password, "Choose a new password"
    %br
    = password_field_tag :password, nil, :class => 'text large'
  %p
    = label :password, "Confirm password"
    %br
    = password_field_tag :password_confirmation, nil, :class => 'text large'
  %p
    = submit_tag "Update", :class => 'submit large'
      
  
