%h2 
  Update Employee
  - if @user.manager?
    %span (manager)
%hr
- form_for @user do |form|
  %p
    = form.label :manager, "Management Status"
    %br
    = form.check_box :manager, {}, true, false
  %p
    = form.submit 'promote'
%hr
- form_for @user do |form|
  %p
    = form.label :first_name,"First Name"
    %br
    = form.text_field :first_name, :class => 'text small'
  %p
    = form.label :last_name,"Last Name"
    %br
    = form.text_field :last_name, :class => 'text small'
  %p
    = form.label :email,"Email Address"
    %br
    = form.text_field :email, :class => 'text small'
  %p
    = form.label :date_of_hire ,"Date of Hire"
    %br
    = form.date_select :date_of_hire

  %p
    = form.submit 'submit', :class => 'submit small'

%hr
%h2 Maximum Time Off
- form_for @user do |form|
  %p
    = form.label :max_vacation, "Vacation"
    %br
    = form.text_field :max_vacation, :size => '2'
  %p
    = form.label :max_personal, "Personal"
    %br
    = form.text_field :max_personal, :size => '2'
  %p
    = form.submit 'update timeoff'
%hr
%h2 Reset Password
%p 
  This button will send 
  = @user.first_name
  an email. 
  %br
  In the email will be a link that will allow
  = @user.first_name
  to reset the password.

- form_tag password_resets_path do
  = hidden_field_tag :email, @user.email
  = submit_tag "reset password", :class => 'submit large'
