- content_for :right_head do
  %h2 Help
  %ul
    %li= link_to "&larr; settings", :back

- content_for :right_body do
  %p You are adding a new user to you account. This is what will happen:
  %ul
    %li The new user will recieve an email with a link to register.
    %li When the new user clicks the link in the email they will be sent to this site.
    %li The new user will then setup their password.
    %li The new user will be able to request Time Off.

- content_for :left_head do
  %h2 add a new user
  %ul
    %li= link_to "&larr; settings", :back


- content_for :left_body do
  - form_for [@account,@user] do |form|
    %p
      = form.label :email
      %br
      = form.text_field :email, :class => 'text small'

    %p
      = form.label :first_name, "First Name"
      %br
      = form.text_field :first_name, :class => 'text small'

    %p
      = form.label :last_name, "Last Name"
      %br
      = form.text_field :last_name, :class => 'text small'

    %p
      = form.submit "add", :class => 'submit small'
      \-
      = link_to 'cancel', edit_account_path(@account)
