%h1
  = @user.name
  %span= link_to 'employee history &rarr;', @user, :title => 'employee history'

- pending_requests = @user.daysoff.pending.count
%p= "#{pluralize(pending_requests,'requests')} pending approval"

- vacation_time_remaining = @user.get_remaining_dayoff_time[:vacation]
- vacation_time_taken     = @user.get_taken_dayoff_time[:vacation]

- personal_time_remaining  = @user.get_remaining_dayoff_time[:personal]
- personal_time_taken      = @user.get_taken_dayoff_time[:personal]
%table{:style => 'width:100%'}
  %thead
    %tr
      %th type
      %th taken
      %th remaining
      %th max available
  %tbody
    - @user.account.dayoff_types.each do |type|
      %tr{:class => type}
        %td= type.to_s
        %td.taken= pluralize(@user.get_taken_dayoff_time[type], 'day')
        %td.remaining= pluralize(@user.get_remaining_dayoff_time[type],'day')
        %td.max= pluralize(@user.send("max_#{type}"), 'day')
