- content_for :block_head do
  %h2 Billing

- if @account.trial_subscription?
  %p
    Your trial account will expire in
    = @account.days_remaining_in_trial
    days.

#product-selection
.block
  .block_head
    .bheadl
    .bheadr
    %h2 Plans &amp; Pricing
  .block_content
    #subscription_plan_form_message
    - form_for @account, :url => account_subscription_plan_path(@account), :html => { :class => 'ajax-form' }  do |form|
      %table{:id => 'price-menu'}
        %tr
          %td= form.radio_button :product_handle, "0-5-users"
          %td= form.radio_button :product_handle, "6-25-users"
          %td= form.radio_button :product_handle, "26-50-users"
        %tr
          %td 0 to 5 employees
          %td 6 to 25 employees
          %td 26 to 50 employees
        %tr
          %th free
          %th $24
          %th $49
        %tr
          %td
          %td= form.submit "update", :class => 'submit small'
          %td
  .bendl
  .bendr
#credit-card
  .block
    .block_head
      .bheadl
      .bheadr
      %h2 Credit Card
    .block_content
      - form_for :credit_card, :url => account_billing_url(@account), :html => {:method => 'put'}  do |form|

        %p
          = form.label :first_name, "First Name"
          %br
          = form.text_field :first_name, :class => 'text small',  :value => @account.owner.first_name
        %p
          = form.label :last_name, "Last Name"
          %br
          = form.text_field :last_name, :class => 'text small',  :value => @account.owner.last_name
        %p
          = form.label :number, "Card Number"
          %br
          = form.text_field :number, :class => 'text small', :value => @account.credit_card_number
        %p
          = form.label :expiration_month, "Expiration Month"
          %br
          = form.select :expiration_month, (1..12).to_a
        %p
          = form.label :expiration_year, "Expiration Year"
          %br
          = form.select :expiration_year, (2010..2021).to_a, :class => 'select'
        %p
          = form.label :cvv, "Security Code"
          %br
          = form.text_field :cvv, :size => 3, :class => 'text'
        %p
          = form.submit 'submit', :class => 'submit small'
  .bendl
  .bendr
