#signup
  %h3 Use Time Off for Time Off Requests, use your filling cabinet for something else.
  %strong= link_to 'Sign Up', new_account_path

#screenshots
  %a{:href => '/images/screenshots/zero.png', :rel => 'screenshots', :title => 'feature'}
    = image_tag 'screenshots/zero.png', :height => '180'
  %a{:href => '/images/screenshots/one.png', :rel => 'screenshots', :title => 'feature'}
    = image_tag 'screenshots/one.png', :height => '180'
  %a{:href => '/images/screenshots/two.png', :rel => 'screenshots', :title => 'feature'}
    = image_tag 'screenshots/two.png', :height => '180'
  %br
  %a{:href => '/images/screenshots/three.png',:rel => 'screenehots', :title => 'feature'}
    = image_tag 'screenshots/three.png', :height => '180'
  %a{:href => '/images/screenshots/four.png', :rel => 'screenshots', :title => 'feature'}
    = image_tag 'screenshots/four.png', :height => '180'
  %a{:href => '/images/screenshots/five.png', :rel => 'screenshots', :title => 'feature'}
    = image_tag 'screenshots/five.png', :height => '180'

#customers
  %h3 Customer Spotlight
  %strong= link_to 'GS Enterprises inc.', 'http://www.gsenterprises.com/', :target => '_blank'
  %ul
    %li 13 employees
    %li 0 HR staff
    %li 1 year using Time Off

#features

  .feature
    %strong Online Request Form
    %p
      Have your team submit requests online. With an easy to use form and a company calendar right 
      next to the form, your team will make better descisions regarding time off requests.

  .feature
    %strong Builtin Calendar
    %p 
      All of your organization's time off is displayed in an easy to view calendar. 
      Quickly view your staff's availability.

  .feature
    %strong Email updates 
    %p 
      Time Off alerts the manager when new requests are created.

  .feature
    %strong Archived Data
    %p 
      Eliminate descrepnency with Archived Data. Time Off keeps record of all transactions.  


:plain
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17044296-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

