- form_for [@user, @dayoff] do |form|
  = form.hidden_field :state,       :value => StateMachine::APPROVED
  = form.hidden_field :reviewed_by, :value => current_user.name
  = form.hidden_field :reviewed_on, :value => Date.today
  %p
    = form.error_messages :class => 'message errormsg'
  %table
    %tr
      %td
        = form.radio_button :leave_type, 'vacation'
        = label :leave_type_vacation, 'Vacation'
      %td
        = form.radio_button :leave_type, 'personal', :checked => true
        = label :leave_type_personal, 'Personal'
      /%td
      /  = form.radio_button :leave_type, 'etc'
      /  = label :leave_type_etc, 'Other'
    %tr
      %td
        = form.radio_button :leave_length, 'half'
        = label :leave_length_half, 'Half Day'
      %td
        = form.radio_button :leave_length, 'whole', :checked => true
        = label :leave_length_whole, 'Whole Day'
      %td
        = form.radio_button :leave_length, 'many'
        = label :leave_length_many, 'Many Days'
  %p
    = form.label :begin_time, 'Start Day'
    %br
    = form.date_select :begin_time

  %p.end_time{:style => 'display:none;'}
    = form.label :end_time, 'End Day'
    %br
    = form.date_select :end_time
  %p
    = form.label :description, 'Message'
    = form.text_area :description, :class => 'text'
  %p
    = form.submit 'submit', :class => 'submit small'

:javascript
  $("input[name='dayoff[leave_length]']").livequery(function(){
    $(this).click( function() {
      if ($("input[name='dayoff[leave_length]']:checked").val() == 'many')
      $(".end_time").show();

      else if ($("input[name='dayoff[leave_length]']:checked").val() == 'whole')
      {
        $(".end_time").hide();
        $("input[id=dayoff_end_time]").val("")
      }
      else if ($("input[name='dayoff[leave_length]']:checked").val() == 'half')
      {
        $(".end_time").hide();
        $("input[id=dayoff_end_time]").val("")
      }
      $(this).blur();
    })
  });


