- content_for :left_head do
  %h2 New Day Off Request
  %ul
    %li= link_to "&larr; dashboard", :back

- content_for :right_head do
  %h2 Calendar
  %ul
    %li= link_to "&larr; dashboard", :back

- content_for :right_body do
  #mini_calendar
  = javascript_tag "var DAYSOFF_URL ='#{account_daysoff_path(@account)}'"

- content_for :left_body do
  - form_for [current_user, @dayoff] do |form|

    %p
      = form.error_messages :class => 'message errormsg'
    %table
      %tr
        %td
          = form.radio_button :leave_type, 'vacation'
          = label :leave_type_vacation, 'Vacation'
        %td
          = form.radio_button :leave_type, 'personal', :checked => true
          = label :leave_type_personal, 'Personal'
        %td
          = form.radio_button :leave_type, 'etc'
          = label :leave_type_etc, 'Other'
      %tr
        %td
          = form.radio_button :leave_length, 'half'
          = label :leave_length_half, 'Half Day'
        %td
          = form.radio_button :leave_length, 'whole', :checked => true
          = label :leave_length_whole, 'Whole Day'
        %td
          = form.radio_button :leave_length, 'many'
          = label :leave_length_many, 'Many Days'
    %p
      = form.label :begin_time, 'Start Day'
      %br
      = form.date_select :begin_time

    %p#end_time{:style => 'display:none;'}
      = form.label :end_time, 'End Day'
      %br
      = form.date_select :end_time
    %p
      = form.label :description, 'Message'
      = form.text_area :description, :class => 'text'
    %p
      = form.submit 'submit', :class => 'submit small'
      \-
      = link_to 'cancel', @account
