- content_for :left_head do
  %h2 New Day Off Request
  %ul
    %li= link_to "&larr; dashboard", @account

- content_for :right_head do
  %h2 Calendar
  %ul
    %li= link_to "&larr; dashboard", @account

- content_for :right_body do
  #mini_calendar
  = javascript_tag "var DAYSOFF_URL ='#{account_daysoff_path(@account)}'"

- content_for :left_body do
  - form_for [@user, @dayoff] do |form|

    %p
      = form.error_messages :class => 'message errormsg'
    %table
      %tr
        - @user.account.dayoff_types.each_with_object(1) do |type,i|
          %td
            = form.radio_button :leave_type, type, :checked => i == 1
            = label :leave_type_vacation, type.to_s.capitalize
          - i += 1

      %tr
        %td
          = form.radio_button :leave_length, 'half'
          = label :leave_length_half, 'Half Day'
        %td
          = form.radio_button :leave_length, 'whole', :checked => true
          = label :leave_length_whole, 'Whole Day'
        %td
          = form.radio_button :leave_length, 'many'
          = label :leave_length_many, 'Many Days'
    %p
      = form.label :begin_time, 'Start Day'
      %br
      = form.date_select :begin_time

    %p.end_time{:style => 'display:none;'}
      = form.label :end_time, 'End Day'
      %br
      = form.date_select :end_time
    %p
      = form.label :description
      = form.text_area :description, :class => 'text'
    %p
      = form.submit 'submit', :class => 'submit small'
      \-
      = link_to 'cancel', @account
