- daysoff.each do |dayoff|
  %tr{:id => "dayoff_#{dayoff.id}"}
    %td= link_to dayoff.user.name, user_path(dayoff.user, :format => 'js'), :rel => 'facebox'
    %td= dayoff.created_at
    %td= dayoff.leave_type
    %td= dayoff.get_length
    %td= dayoff.begin_time
    %td= dayoff.end_time
    %td= dayoff.description
    %td= dayoff.status
    %td= link_to 'delete', dayoff, :method => 'delete'

= javascript_tag "var moreLink = '#{ more_paginate daysoff, :content => '<span> &darr; more &darr;</span>',:path_prefix => account_archived_daysoff_path(current_user.account) }'"
