- content_for :block_head do
  %h2= @account.subdomain
  %ul
    %li= "Welcome Back #{current_user.name}"


%table.messages
  %tr
    - account_messages(current_user) do |message|
      %th= message.body
  %tr
    - account_messages(current_user) do |message|
      %td= message.title

%br
= link_to 'request days off', new_subdomain_user_dayoff_url(@account,current_user)
