- content_for :block_head do
  %h2= @account.subdomain
  %ul
    %li= "Welcome Back #{current_user.name}"

%table.messages
  %tr
    - account_messages(@account,current_user) do |message|
      %th{:alt => message.alt}= message.body
  %tr
    - account_messages(@account,current_user) do |message|
      %td= message.title

%br
= link_to 'request days off', new_subdomain_user_dayoff_url(@account,current_user)



%br
%table.requests
  - @account.daysoff.pending.each do |request|
    %tr
      %td= request.user.name
      %td= request.get_length
      %td= link_to 'approve', subdomain_user_dayoff_url(@account,request.user,request)
