- content_for :block_head do
  %h2= @account.subdomain
  %ul
    %li= "Welcome Back #{current_user.name}"

= link_to 'request days off', new_subdomain_user_dayoff_url(@account,current_user)

- account_messages(current_user) do |message|
  .message_box
    %h4= message.body
    %span= message.title
  

