!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title Time Off
    = render :partial => 'shared/js_and_css'
  %body
    #hld
      .wrapper
        #header
          .hdrl
          .hdrr
          %h1= link_to 'Time Off', subdomain_root_url("www")
          = render :partial => 'shared/navigation'
          = render :partial => 'shared/session'
        .block.small.left
          .block_head
            .bheadl
            .bheadr
            = yield :block_head
          .block_content
            = render :partial => 'shared/flash', :locals => {:flash => flash}
            = yield
          .bendl
          .bendr
        .block.small.right
          .block_head
            .bheadl
            .bheadr
            %h3 3 reasons why you'll love Time Off
          .block_content
            %ul
              %li All time off is displayed on an easy to read calendar.
              %li Eliminate descrepencies with a record of your employee's Time Off.
              %li A beautiful interface that is accessable from anywhere.
          .bendl
          .bendr
        #footer
