.block
  .block_head
    .bheadl
    .bheadr
    %h2 Archive
  .block_content
    %table.archive
      %tr
        %th date requested
        %th time off requested
        %th description
        %th status
        %th delete
      - @account.daysoff.each do |dayoff|
        %tr{:id => "dayoff_#{dayoff.id}"}
          %td= dayoff.created_at
          %td= dayoff.get_length
          %td= dayoff.description
          %td= dayoff.status
          %td= link_to 'delete', dayoff, :method => 'delete'


  .bendl
  .bendr
