.block
  .block_head
    .bheadl
    .bheadr
    %h2 Request Queue
  .block_content
    - if daysoff.count.zero?
      %h3 No Pending Requests
    -else
      %table.request_queue
        %tr
          %th requested by
          %th date requested
          %th type
          %th length
          %th begin date
          %th end date
          %th description
          %th approve
        - daysoff.each do |dayoff|
          %tr{:id => "dayoff_#{dayoff.id}"}
            %td.name= link_to dayoff.user.name, user_path(dayoff.user,:format => 'js'), :rel => 'facebox'
            %td= dayoff.created_at
            %td= dayoff.leave_type
            %td= dayoff.get_length
            %td= dayoff.begin_time
            %td= dayoff.end_time
            %td= dayoff.description
            %td= link_to 'respond', dayoff, :rel => 'facebox'

  .bendl
  .bendr
