- content_for :block_head do
  %h2 Account Settings
  %ul
    %li= link_to '&larr; dashboard', @account

.block
  .block_head
    .bheadl
    .bheadr
    %h2 Employees
    %a{:href => "#{new_account_user_path(@account)}", :style => 'float:right', :title => "new employee"}
      %span New Employee
  .block_content
    %table.employees
      %tr
        %th add timeoff
        %th show
        %th first name
        %th last name
        %th email
        %th date of hire
        %th max vacation
        %th max personal
        %th edit
        %th delete
      - @account.users.each do |user|
        %tr{:id => "user_#{user.id}"}
          %td= link_to 'add timeoff', new_user_dayoff_url(user), :rel => 'facebox'
          %td= link_to 'show', user
          %td= user.first_name
          %td= user.last_name
          %td= user.email
          %td= user.date_of_hire
          %td= user.max_vacation
          %td= user.max_personal
          %td= link_to 'edit',   edit_user_path(user), :rel => 'facebox'
          %td= link_to 'delete', user, :method => 'delete'

.block.small.right
  .block_head
    .bheadl
    .bheadr
    %h2  Black Out Days
    %a.help{:href => '#black_out_info', :rel => 'facebox'} ?
    %a{:href => "#{new_account_black_out_day_path(@account)}", :style => 'float:right', :title => "new black out day", :rel => 'facebox'}
      %span New Black Out Day
  .block_content
    #black_out_info{:style => 'display:none;'} 
      %p
        %strong Definition:
        %br
        Black Out Days are dates that should be skipped when calculating the amount of time off an
        %br
        employee has taken. This is useful for things like Christmas and Thanksgiving. 
      %p
        %strong Example:
        %br
        If an employee has 4 days of approved time off and 1 Black Out Day exist in that 4 day period, 
        %br
        the system will show that the employee has taken 3 days of time off.
      %p
        If you still have questions, email support
    %table#black_out_days
      %tr
        %th Date
        %th Description
        %th Delete
      = render :partial => 'black_out_days/black_out_day', :collection => @account.black_out_days

.block.small.left
  .block_head
    .bheadl
    .bheadr
    %h2 Google Authentication
    %a.help{:href => '#google_auth_info', :rel => 'facebox'} ?
  .block_content
    #google_auth_info{:style => 'display:none;'} 
      %p
        %h3 Subdomain
        %p
          %strong Definition
          %br
          In order to use Google Authentication, You will need to sign into Time Off using a custom
          %br
          URL. 
        %p
          %strong Example
          %br
          Instead of going to www.timeoffhq.com/signin, you will need to go to acme.timeoffhq.com
          %br
          where acme is your chosen subdomain.
        %h3 Google apps domain
        %p 
          Your Google Appps Account name. 
          %br
          Often, this is the domain name in your email address. (i.e. wonderset.com for ryan@wonderset.com)
      %p
    - form_for @account do |f|
      %p
        = f.label :subdomain
        %br
        = f.text_field :subdomain, :class => 'text small'
      %p
        = f.label :google_apps_domain
        %br
        = f.text_field :google_apps_domain, :class => 'text small'
      %p
        = f.submit "save", :class => 'submit small'
