%h1 Sign Up

- semantic_form_for @account,:url => system_accounts_url do |form|
  = form.error_messages
  = form.input :subdomain, :label => 'Company Name'

  - form.semantic_fields_for :users do |user|
    = user.input :first_name 
    = user.input :last_name
    = user.input :email
    = user.input :password 
    = user.input :password_confirmation

  = form.buttons
