- content_for :block_head do
  %h2= @account.company_name
  %ul
    %li= "Welcome Back #{current_user.name}"

#left
  %table.messages
    %tr
      - account_messages(@account,current_user) do |message|
        - next if message.intended_for == 'admin' and current_user != @account.owner
        %th{:alt => message.alt, :class => message.intended_for}
          = message.body
    %tr
      - account_messages(@account,current_user) do |message|
        - next if message.intended_for == 'admin' and current_user != @account.owner
        %td{:class => message.intended_for}
          = message.title

#right
  = link_to image_tag('buttons/request_time_off.gif',:alt => 'request time off'), new_user_dayoff_path(current_user), :class => 'link_button'
  %br
  - requests = current_user.pending_requests.length 
  - if requests > 0
    %span= "#{requests} #{pluralize(requests,'request').split(" ").last} pending approval" 


- if current_user.account_owner?
  = render :partial => 'queue'

= render :partial => 'history'

